/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus, *:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color-primary: #F53B4D;
  --color-primary2: #F76473;
  --color-white: #ffffff;
  --color-grey: #1C222F;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-grey);
}
@media only screen and (max-width: 37.5em) {
  a {
    color: var(--color-white);
  }
}

header {
  position: fixed;
  width: 100%;
  padding: 2.5rem 5rem;
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
@media only screen and (max-width: 75em) {
  header {
    padding: 2.2rem 3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  header {
    padding: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  header {
    position: static;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 56.25em) {
  .navbar {
    letter-spacing: 0.1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navbar {
    justify-content: space-between;
  }
}
.navbar__brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__brand-name {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2rem;
  color: var(--color-grey);
}
@media only screen and (max-width: 75em) {
  .navbar__brand-name {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .navbar__brand-name {
    font-size: 1.6rem;
    margin-left: 1rem;
  }
}
.navbar__brand-logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-image: url(../assets/brand-logo.webp);
  background-repeat: no-repeat;
  background-size: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .navbar__brand-logo {
    height: 4.5rem;
    width: 4.5rem;
    background-size: 4.5rem;
  }
}
.navbar__list {
  display: flex;
  margin-left: auto;
  font-size: 1.8rem;
  font-weight: 600;
}
@media only screen and (max-width: 75em) {
  .navbar__list {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .navbar__list {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navbar__list {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-primary2);
    width: 100%;
    height: 100vh;
    z-index: 6;
    flex-direction: column;
    padding: 20rem;
    align-items: center;
    font-size: 4rem;
  }
}
.navbar__list-item {
  list-style: none;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 56.25em) {
  .navbar__list-item {
    padding: 1rem;
  }
}
.navbar__icon {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .navbar__icon {
    display: inline;
    position: fixed;
    left: 84%;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: linear-gradient(to bottom right, rgba(247, 101, 116, 0.8), white);
    z-index: 7;
  }
}
.navbar__toggle-menu {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .navbar__toggle-menu {
    display: inline;
    width: 2rem;
    height: 2rem;
    margin-top: 1.3rem;
    margin-left: 1.2rem;
    z-index: 6;
  }
}
@media only screen and (max-width: 37.5em) {
  .navbar__show {
    display: none;
  }
}

.home {
  height: 100vh;
  width: 100%;
  background-color: var(--color-primary2);
}
.home__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  text-align: center;
  letter-spacing: 0.3rem;
  width: 80%;
}
@media only screen and (max-width: 37.5em) {
  .home__heading {
    width: 80%;
  }
}
.home__heading-primary {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 2rem;
  white-space: nowrap;
}
@media only screen and (max-width: 75em) {
  .home__heading-primary {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .home__heading-primary {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .home__heading-primary {
    font-size: 2.5rem;
    white-space: initial;
  }
}
.home__heading-secondary {
  font-size: 3rem;
  font-weight: 400;
}
@media only screen and (max-width: 75em) {
  .home__heading-secondary {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .home__heading-secondary {
    font-size: 1.5rem;
  }
}

.about {
  padding: 15rem;
  text-align: center;
  height: auto;
  background-color: #fffcfd;
}
@media only screen and (max-width: 75em) {
  .about {
    padding: 10rem 5rem 5rem 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .about {
    padding: 5rem 2rem 2rem 2rem;
  }
}
.about__container {
  display: flex;
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .about__container {
    flex-direction: column;
  }
}
.about__heading-sub {
  color: var(--color-grey);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .about__heading-sub {
    font-size: 2rem;
  }
}
.about__text {
  width: 50%;
  margin-right: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .about__text {
    width: 100%;
    margin-right: 0rem;
    margin-bottom: 5rem;
  }
}
.about__text-content {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--color-grey);
  opacity: 0.9;
  text-align: justify;
  line-height: 1.4;
}
@media only screen and (max-width: 75em) {
  .about__text-content {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .about__text-content {
    font-size: 1.6rem;
  }
}
.about__skills {
  width: 50%;
  margin-left: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .about__skills {
    width: 100%;
    margin-left: 0rem;
  }
}
.about__skills-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__btngrp {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.projects {
  padding: 15rem;
  text-align: center;
}
@media only screen and (max-width: 75em) {
  .projects {
    padding: 10rem 10rem 5rem 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .projects {
    padding: 5rem 3rem 5rem 3rem;
  }
}
.projects__container {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .projects__container {
    flex-direction: column;
  }
}
.projects__card {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}
@media only screen and (max-width: 75em) {
  .projects__card {
    width: 45%;
  }
}
@media only screen and (max-width: 56.25em) {
  .projects__card {
    width: 100%;
    margin-bottom: 5rem;
  }
}
.projects__card__img {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.projects__card__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-grey);
  margin: 0 0 2rem 0;
}
@media only screen and (max-width: 37.5em) {
  .projects__card__title {
    font-size: 2rem;
  }
}
.projects__card__details {
  padding: 0 1rem 1rem 1rem;
}
.projects__card__text {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
  line-height: 1.5;
  opacity: 0.8;
  margin: 1.5rem 0;
}
.projects__card__tags {
  font-size: 1.3rem;
  font-weight: 400;
  opacity: 0.8;
  text-align: start;
}
.projects__card__tags .tag:not(:last-child) {
  margin-right: 0.5rem;
}
.projects__card__links {
  text-align: start;
  margin-top: 1.5rem;
}
.projects__card__links .link {
  width: 2rem;
  margin-right: 1rem;
}

.contact {
  padding: 15rem;
  text-align: center;
  background-color: #fffcfd;
}
@media only screen and (max-width: 75em) {
  .contact {
    padding: 10rem 10rem 5rem 10rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .contact {
    padding: 10rem 5rem 5rem 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .contact {
    padding: 5rem 2rem 5rem 2rem;
  }
}
.contact__container {
  display: flex;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.contact__form {
  padding: 5rem;
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .contact__form {
    padding: 2rem;
  }
}
.contact__btn {
  margin: 1rem 0;
}
.contact label {
  display: block;
  text-align: start;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0.8;
  color: var(--color-grey);
  letter-spacing: 0.1rem;
}
@media only screen and (max-width: 56.25em) {
  .contact label {
    margin: 0.5rem 0;
  }
}
.contact input[type=text], .contact input[type=email], .contact textarea {
  width: 100%;
  height: 5rem;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1.5rem;
  opacity: 0.8;
  background-color: #f5f5f5;
  resize: none;
}
@media only screen and (max-width: 56.25em) {
  .contact input[type=text], .contact input[type=email], .contact textarea {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
  }
}
.contact input[type=text]:focus, .contact input[type=email]:focus, .contact textarea:focus {
  outline: none;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.contact input[type=text]:focus:invalid, .contact input[type=email]:focus:invalid, .contact textarea:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.contact textarea {
  height: 20rem;
}
@media only screen and (max-width: 56.25em) {
  .contact textarea {
    height: 10rem;
    padding: 1rem;
  }
}

.left {
  width: 40%;
  background-image: linear-gradient(to top, rgba(245, 59, 77, 0.1), rgba(249, 137, 148, 0.1)), url("../assets/mailbox.jpg");
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 56.25em) {
  .left {
    height: 43rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .left {
    display: none;
  }
}

.right {
  width: 60%;
}
@media only screen and (max-width: 37.5em) {
  .right {
    width: 100%;
  }
}

.footer {
  padding: 10rem 15rem 5rem 15rem;
  background-color: var(--color-primary2);
  color: var(--color-white);
}
@media only screen and (max-width: 75em) {
  .footer {
    padding: 5rem 8rem 4rem 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 2rem 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 2rem 3rem 1rem 3rem;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__brand-name {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}
@media only screen and (max-width: 56.25em) {
  .footer__brand-name {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__brand-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
.footer__brand-logo {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-image: url(../assets/brand-logo.webp);
  background-repeat: no-repeat;
  background-size: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__brand-logo {
    height: 6rem;
    width: 6rem;
    background-size: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__brand-logo {
    height: 5rem;
    width: 5rem;
    background-size: 5rem;
  }
}
.footer__brand-text {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__brand-text {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__brand-text {
    font-size: 1rem;
  }
}
.footer__copyright {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__copyright {
    font-size: 1rem;
  }
}
.footer__socials__title {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__socials__title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__socials__title {
    font-size: 1.5rem;
  }
}
.footer__socials__links {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}
@media only screen and (max-width: 37.5em) {
  .footer__socials__links {
    flex-direction: row;
  }
}
.footer__socials__link {
  margin-bottom: 1rem;
  width: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__socials__link {
    width: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__socials__link {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.arrow-down {
  height: 50px;
  width: 70px;
  display: block;
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 350%);
}

.left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 0px;
  width: 40px;
  display: block;
  transform: rotate(45deg);
}
.left-arm:after {
  content: "";
  background-color: var(--color-white);
  width: 40px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: right center;
  z-index: -1;
}

.right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 27px;
  width: 40px;
  display: block;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.right-arm:after {
  content: "";
  background-color: var(--color-white);
  width: 40px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: left center;
  z-index: -1;
}

.arrow-down:hover {
  transition: all 0.1s;
}
.arrow-down:hover .left-arm:after {
  height: 2px;
  transform: rotate(-10deg);
}
.arrow-down:hover .right-arm:after {
  height: 2px;
  transform: rotate(10deg);
}

.heading {
  color: var(--color-grey);
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .heading {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading {
    font-size: 3rem;
  }
}

.underline {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.underline::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 10%;
  width: 110%;
  height: 35%;
  background-color: #f98994;
  display: block;
  z-index: -1;
}

.btn {
  display: block;
  width: 15rem;
  height: 5rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .btn {
    width: 13rem;
    height: 4.5rem;
    font-size: 1.3rem;
  }
}

.skillbox {
  display: inline-block;
  padding: 1.8rem 3.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--color-grey);
  opacity: 0.9;
  background-color: #EDF2F7;
  border-radius: 0.5rem;
  margin: 1rem;
  position: relative;
  transition: color 0.5s ease-in-out;
}
@media only screen and (max-width: 75em) {
  .skillbox {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    margin: 0.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .skillbox {
    margin: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .skillbox {
    padding: 1.5rem 2rem;
    margin: 0.5rem;
  }
}
.skillbox-html::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-html:hover::before {
  width: 80%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-css::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-css:hover::before {
  width: 80%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-sass::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-sass:hover::before {
  width: 90%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-js::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-js:hover::before {
  width: 60%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-react::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-react:hover::before {
  width: 60%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-redux::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-redux:hover::before {
  width: 40%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-node::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-node:hover::before {
  width: 30%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-chakra::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-chakra:hover::before {
  width: 80%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-sql::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-sql:hover::before {
  width: 40%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-linux::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-linux:hover::before {
  width: 70%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-bash::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-bash:hover::before {
  width: 50%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-git::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-git:hover::before {
  width: 90%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-github::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-github:hover::before {
  width: 90%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-gcp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-gcp:hover::before {
  width: 40%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-docker::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-docker:hover::before {
  width: 50%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}
.skillbox-k8s::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: var(--color-primary2);
  z-index: -2;
  display: block;
  transition: width 0.5s ease-in-out;
}
.skillbox-k8s:hover::before {
  width: 30%;
  height: 100%;
  background-color: var(--color-primary2);
  border-radius: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
