header {
    position: fixed;
    width: 100%;
    padding: 2.5rem 5rem;
    background-color: var(--color-white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 2;

    @include respond(tab-land) {
        padding: 2.2rem 3rem;
    }

    @include respond(tab-port) {
        padding: 2rem;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .2rem;

    @include respond(tab-port) {
        letter-spacing: .1rem;
    }

    &__brand {
        display: flex;
        justify-content: center;
        align-items: center;

        &-name {
            font-size: 2rem;
            font-weight: 700;
            margin-left: 2rem;
            color: var(--color-grey);

            @include respond(tab-land) {
                font-size: 1.8rem;
            }

            @include respond(tab-port) {
                font-size: 1.6rem;
                margin-left: 1rem;
            }
        }

        &-logo {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            background-image: url(../assets/brand-logo.webp);
            background-repeat: no-repeat;
            background-size: 5rem;

            @include respond(tab-port) {
                height: 4.5rem;
                width: 4.5rem;
                background-size: 4.5rem;
            }
        }
    }
    
    &__list {
        display: flex;
        margin-left: auto;
        font-size: 1.8rem;
        font-weight: 600;

        @include respond(tab-land) {
            font-size: 1.6rem;
        }

        @include respond(tab-port) {
            font-size: 1.3rem;
        }

        &-item {
            list-style: none;
            padding: 1rem 2rem;

            @include respond(tab-port) {
                padding: 1rem;
            }
        }
    }
}