header {
    position: fixed;
    width: 100%;
    padding: 2.5rem 5rem;
    background-color: var(--color-white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 2;

    @include respond(tab-land) {
        padding: 2.2rem 3rem;
    }

    @include respond(tab-port) {
        padding: 2rem;
    }

    @include respond(phone) {
        position: static;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .2rem;

    @include respond(tab-port) {
        letter-spacing: .1rem;
    }

    @include respond(phone) {
        justify-content: space-between;
    }

    &__brand {
        display: flex;
        justify-content: center;
        align-items: center;

        &-name {
            font-size: 2rem;
            font-weight: 700;
            margin-left: 2rem;
            color: var(--color-grey);

            @include respond(tab-land) {
                font-size: 1.8rem;
            }

            @include respond(tab-port) {
                font-size: 1.6rem;
                margin-left: 1rem;
            }
        }

        &-logo {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            background-image: url(../assets/brand-logo.webp);
            background-repeat: no-repeat;
            background-size: 5rem;

            @include respond(tab-port) {
                height: 4.5rem;
                width: 4.5rem;
                background-size: 4.5rem;
            }
        }
    }
    
    &__list {
        display: flex;
        margin-left: auto;
        font-size: 1.8rem;
        font-weight: 600;

        @include respond(tab-land) {
            font-size: 1.6rem;
        }

        @include respond(tab-port) {
            font-size: 1.3rem;
        }

        @include respond(phone) {
            position: fixed;
            top: 0;
            left: 0;
            background-color: var(--color-primary2);
            width: 100%;
            height: 100vh;
            z-index: 6;
            flex-direction: column;
            padding: 20rem;
            align-items: center;
            font-size: 4rem;
        }

        &-item {
            list-style: none;
            padding: 1rem 2rem;

            @include respond(tab-port) {
                padding: 1rem;
            }
        }
    }

    &__icon {
        display: none;

        @include respond(phone) {
            display: inline;
            position: fixed;
            left: 84%;
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
            background: linear-gradient(to bottom right, rgba(247, 101, 116, .8), rgba(255, 255, 255, 1.0));
            z-index: 7;
        }
    }

    &__toggle-menu {
        display: none;
        
        @include respond(phone) {
            display: inline;
            width: 2rem;
            height: 2rem;
            margin-top: 1.3rem;
            margin-left: 1.2rem;
            z-index: 6;
        }
    }

    &__show {
        @include respond(phone) {
            display: none;
        }
    }
}