.arrow-down {
    height: 50px;
    width: 70px;
    display: block;
    position: relative;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 350%);
}
  
.left-arm {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 19px;
    left: 0px;
    width: 40px;
    display: block;
    transform: rotate(45deg);
    
    &:after {
        content: "";
        background-color: var(--color-white);
        width: 40px;
        height: 1px;
        display: block;
        border-radius: 1px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
        transform-origin: right center;
        z-index: -1;
    }
}
  
.right-arm {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 19px;
    left: 27px;
    width: 40px;
    display: block;
    transform: rotate(-45deg);
    border-radius: 2px;
    
    &:after {
        content: "";
        background-color: var(--color-white);
        width: 40px;
        height: 1px;
        display: block;
        border-radius: 1px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
        transform-origin: left center;
        z-index: -1;
    }
  }
  
.arrow-down:hover {
    transition: all .1s;
    
    .left-arm:after {
        height: 2px;
        transform: rotate(-10deg);
    }
    
    .right-arm:after {
        height: 2px;
        transform: rotate(10deg);
    }
}