.heading {
    color: var(--color-grey);
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: .3rem;
    margin-bottom: 5rem;

    @include respond(tab-port) {
        font-size: 3.5rem;
        letter-spacing: .1rem;
        margin-bottom: 4rem;
    }

    @include respond(phone) {
        font-size: 3rem;
    }
}