*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus, *:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --color-primary: #F53B4D;
    --color-primary2: #F76473;
    --color-white: #ffffff;
    --color-grey: #1C222F;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-grey);

    @include respond(phone) {
        color: var(--color-white);
    }
}